

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.noto-serif-nahid {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    background-color: #f5f8ff;
}



/* header suru  */

header{
   margin: 20px auto;
   max-width: 1140px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img{
    width: 100%;
}

.nav-menu ul{
     display: flex;
     gap: 30px;
     align-items: center;
     justify-content: center;
     margin: auto 0;
}

.nav-menu ul li{
    color: rgba(137, 135, 161, 1);
    font-weight: 400;
}


/* header sesh  */

/* banner-section  */

.banner{
    margin: 230px auto 130px auto;
    max-width: 1140px;

}

.banner-section{
     display: flex;
     align-items: end;
     justify-content: center;
}

.banner-description h1{
    font-size: 65px;
    font-weight: 800;

}

.banner-description p{
    font-size: 22px;
    color: #7b7c80;
}

.banner-img img{
    max-width: 570px;
}

/* banner-section  */

/* plants-section suru */

.plants-section{
    width: 1140px;
    margin: 130px auto;
}

.plants-section h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 14px;
    font-weight: 700;
}

.plants-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    row-gap: 60px;
    margin-top: 60px;
}

.plants-section p{
    font-size: 22px;
    color: #7b7c80;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card h4{
    font-size: 22px;
    font-weight: 300;
    margin-top: 18px;
}

.card h2{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 18px;
}

.btn{
    background-color: #e85a0a;
    width: 100%;
    padding: 13px 0;
    color: white;
}

/* plants-section sesh  */

/* plants-lover-section suru  */

.plants-lover-section{
    width: 1140px;
    margin: 180px auto 130px auto;
}



.plants-lover-div{
     display: grid;
     grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.plants-lover-img{
    position: relative;
}

.badge-img{
    position: absolute;
    top: -80px;
    right: -80px;
    width: 200px;
    z-index: 999;
     animation-name: zoominout;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

@keyframes zoominout{
    0%, 100%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }
}



.plants-lover-content h1{
     font-size: 50px;
     font-weight: 700;
}

.plants-lover-content or li{
    font-size: 22px;
    color: #7b7c80;
}

/* plants-lover-section sesh  */


/* offer-section start  */

.offer-main-section{
    width: 1140px;
    margin: 130px auto;
}

.offer-main-section h1{
    text-align: center;
    margin-bottom: 20px;
}

.offer-main-section p{
    color: #7b7c80;
    text-align: center;
    margin-bottom: 100px;
    font-size: 24px;
}

.offer-section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    width: 1140px;
    gap: 40px;
    grid-auto-rows: 201px;
    margin-top: 50px;
}

.card{
    border-radius: 10px;
}

.card h3{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.card a{
    border-bottom: 2px solid white;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.big-card h2{
    font-size: 40px;
    color: white;
}

.card-1{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/deal-bloom.png') ;
    height: 201px;
    grid-column: 1;
    grid-row: 1;
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.big-card{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),   url('assets/deal-zabo.png'); 
    grid-column: 2;
    grid-row: span 2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-2{
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),   url('assets/deal-ana.png'); 
        height: 201px;
        grid-column: 1;
    grid-row: 2;
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* offer-section end  */

/* subscribe-section start  */

.subscribe-section{
    margin: 130px 0;
    background: url('assets/news-letter-bg.png') ;
    height: 533px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe-section h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-weight: 700;
}

.subscibe{
    max-width: 833px;
}

.subscibe input{
    background-color: white;
    width: ;
}

/* subscribe-section end  */








/* media screen  */

@media screen and (max-width:575px) {
    header{
        width: 100%;
    }

nav{
    margin:0 30px;
    
}

.nav-logo img{
    width: 63px;
}
    .ul-li{
        display: none;
    }

    .banner{
        max-width: 575px;
        margin-top: 70px ;
        margin-bottom: 70px;
    }
  
    .banner-section{
        flex-direction: column-reverse;

    }

    .banner-description{
        margin-left: 30px;
    }

    .banner-description h1{
    font-size: 24px;
}

.banner-description p{
    font-size: 14px;
}

.banner-img img{
    max-width: 400px;
    margin-bottom: 80px;
}

.plants-section{
    width: 100% ;
    padding: 0 20px ;
    margin: 70px 0;

}

.plants-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    row-gap: 40px;
}

.plants-section h1{
    font-size: 24px;
}
.plants-section p{
    font-size: 14px;
}

.card h4{
    font-size: 15px;
}

.card h2{
    font-size: 15px;
}

.btn{
    font-size: 15px;
}

.plants-lover-section{
    width: 100%;
    margin: 70px 0;
    padding: 0 20px;
}

.plants-lover-div{
    grid-template-columns: 1fr;
}

.badge-img{
    display: none;
}


.plants-lover-content h1{
    font-size: 24px;
    margin-top: -30px;
}

.plants-lover-content or li{
    font-size: 14px;
}

.plants-lover-content or li:nth-child(2){
    margin-top: 15px;
    margin-bottom: 15px;
}

.plants-lover-content or li:first-child{
    margin-top: 15px;
}

.offer-main-section{
    width: 100%;
    padding: 0 20px;
    margin-top: 70px ;
    margin-bottom: 70px;
}

.offer-main-section h1{
    font-size: 24px;
}

.offer-main-section p{
    font-size: 14px;
    margin-top: 15px;
}

.offer-section{
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0px 0 70px 0;
    padding: 0 20px;
}

.card h3 {
    font-size: 15px;
}

.card a{
    font-size: 15px;
}

.big-card h2{
    font-size: 15px;
}

.card-1{
    grid-column: 1;
    grid-row: 1;
}

.card-2{
    grid-column: 1;
    grid-row: 2;
}

.big-card{
    grid-column: 1;
    grid-row: 3;
}


}